@tailwind base;
@tailwind components;
@tailwind utilities;

.span-underline{
    text-decoration: underline;
    text-decoration-color: #F59E0B;
    text-decoration-style: solid;
}

.current-align{
    background-color: #F59E0B;
    color: #ffffff;
}